body {
	min-width:1250px;
	font-family:arial;
	font-size:12px;
	background: #f6f7f0;
	margin:0;
	padding:0;
	position: relative;
	overflow: auto;
}

#info {
	background:#333;
	opacity:0.8;
	position: absolute;
	top:5px;
	right:5px;
	width:280px;
	color:#fff;
	border-radius: 5px;
	z-index:10
}

	#info p {
		padding:0 10px;
	}

a {
	text-decoration:none;
	color: #3e8ed7;
}

a:hover {
	color: #61b7e6;
}

.container {
	width:90%;
	height:100%;
	position:absolute;
	top:50px;
	left: 20px;
}



/* HEXAGON STARTS HERE */
.hex {
	width: 10.2%;
	height: 10.5%;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: auto 14%;
	-moz-background-size: auto 14%;
	-ms-background-size: auto 14%;
	-o-background-size: auto 14%;
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}

	.hex.hex-gap {
		margin-left: 7%;
		background-color: #8b8989
	}

	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;
		z-index:-2;
		overflow:hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.hex .corner-1 {
		z-index:-1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}

	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 14%;
		height:	24.8%;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  background: inherit;
	  background-repeat:no-repeat;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}


	.hex .corner-1:before {
		-webkit-transform: rotate(-60deg) translate(-49.5%, 0px);
		-moz-transform: rotate(-60deg) translate(-49.5%, 0px);
		-ms-transform: rotate(-60deg) translate(-49.5%, 0px);
		-o-transform: rotate(-60deg) translate(-49.5%, 0px);
		transform: rotate(-60deg) translate(-49.5%, 0px);
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}

	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-27.3%, -6.2%);
		-moz-transform: rotate(60deg) translate(-27.3%, -6.2%);
		-ms-transform: rotate(60deg) translate(-27.3%, -6.2%);
		-o-transform: rotate(60deg) translate(-27.3%, -6.2%);
		transform: rotate(60deg) translate(-27.3%, -6.2%);
		bottom:0;
	}



	/* Custom styles*/
	.hex .inner {
		color:#eee;
	}

	.hex h4 {
		font-family: 'Josefin Sans', sans-serif;
		margin:0;
	}

	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}

	.hex p {
		font-size:16px;
		font-family: 'Kotta One', serif;
		width:80%;
		margin:0 auto;
	}

	.hex.hex-1 {
		background: #74cddb;
	}

	.hex.hex-2 {
		background: #f5c53c;
	}

	.hex.hex-3 {
		background: #80b971;
	}
